{
  "token.name": "mqtt-access-token",
  "token.active": true,
  "token.info": {
    "mqtt": {
      "methods": ["GET", "POST"]
    },
    "gw/devices": {
      "methods": ["GET", "PUT", "DELETE"]
    },
    "gw/calcs": {
      "methods": ["GET"]
    }
  }
}